.button {
  display: inline-flex;
  font: 10px;
  align-items: center;
  padding: 10px 20px;
  color: #fff;
  font-family: var(--font-lato);
  font-weight: 600;
  border-radius: 100px;
  background: #154aea;
  text-decoration: none;
  width: max-content;
  border: none;
  transition: background-color 0.2s;

  &:hover {
    background: #1442cb;
  }
}
